.interesting-link {
  &:hover {
    @include pulsate();
  }
  &:active {
    @include bounce();
  }
}

.iconsize {
  max-width: 200px;
  max-height: 200px;
}

.fun-icon {
  @extend .iconsize;
  padding: 6px;
  @extend .interesting-link;
  opacity: 0.7;
}
